In [1]:
%autosave 0

Autosave disabled

# Predict the flight ticket price challenge

We are provided with prices of flight tickets for various airlines between months of March and June of 2019 and between various cities

## Features:
1. Airline: Name of the airline
2. Date_of_Journey: The date of journey
3. Source: The source from which the service begins
4. Destination: The destination where the service ends
5. Route: The route taken by the flight to reach the destination
6. Dep_Time: The time when the journey starts from the source
7. Arrival_Time: Time of arrival at the destination
8. Duration: Total duration of the flight
9. Total_Stops: Total stops between the source and destination
10. Additional_Info: Additional information about the flight
11. Price: The price of the ticket

## Datasets directory
` ~\Datasets`

In [10]:
dataset_dir = r'\datasets\\'

## Load required libraries

In [7]:
import os
import pandas as pd
import numpy as np
# Add more libraries here to have them in one place

In [24]:
cwd = os.getcwd()
dataset_dir = cwd + r'\datasets\\'
dataset_dir

'C:\\BheemEnterprises\\ml_projects\\Hackathon\\Python\\MachineHack\\PredictTheFlightTicketPrice\\datasets\\\\'

## Load train and test datasets

In [25]:
train_data = pd.read_excel(dataset_dir + 'train.xlsx')
test_data = pd.read_excel(dataset_dir + 'test.xlsx')

print(train_data.shape)
print(test_data.shape)

(10683, 11)
(2671, 10)

## Visualise train dataset

In [12]:
train_data.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [15]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 11 columns):
Airline            10683 non-null object
Date_of_Journey    10683 non-null object
Source             10683 non-null object
Destination        10683 non-null object
Route              10682 non-null object
Dep_Time           10683 non-null object
Arrival_Time       10683 non-null object
Duration           10683 non-null object
Total_Stops        10682 non-null object
Additional_Info    10683 non-null object
Price              10683 non-null int64
dtypes: int64(1), object(10)
memory usage: 918.1+ KB

In [16]:
train_data.describe()

              Price
count  10683.000000
mean    9087.064121
std     4611.359167
min     1759.000000
25%     5277.000000
50%     8372.000000
75%    12373.000000
max    79512.000000

In [17]:
train_data.columns

Index(['Airline', 'Date_of_Journey', 'Source', 'Destination', 'Route',
       'Dep_Time', 'Arrival_Time', 'Duration', 'Total_Stops',
       'Additional_Info', 'Price'],
      dtype='object')

In [18]:
train_data.values

array([['IndiGo', '24/03/2019', 'Banglore', ..., 'non-stop', 'No info',
        3897],
       ['Air India', '1/05/2019', 'Kolkata', ..., '2 stops', 'No info',
        7662],
       ['Jet Airways', '9/06/2019', 'Delhi', ..., '2 stops', 'No info',
        13882],
       ...,
       ['Jet Airways', '27/04/2019', 'Banglore', ..., 'non-stop',
        'No info', 7229],
       ['Vistara', '01/03/2019', 'Banglore', ..., 'non-stop', 'No info',
        12648],
       ['Air India', '9/05/2019', 'Delhi', ..., '2 stops', 'No info',
        11753]], dtype=object)

In [19]:
train_data.values[0]

array(['IndiGo', '24/03/2019', 'Banglore', 'New Delhi', 'BLR → DEL',
       '22:20', '01:10 22 Mar', '2h 50m', 'non-stop', 'No info', 3897],
      dtype=object)